<div id="grimwild-roll-dialog">
	<section class="grid grid-2col">
		<fieldset class="flexcol">
			<legend>{{localize "GRIMWILD.Dice.dice"}}</legend>
			<div class="dialog-character">
				<div class="dialog-stats grimwild-form-group">
					<label for="stat">{{localize (concat "GRIMWILD.Stat." stat ".long")}}</label>
					<input type="number" class="rollDice rollDiceInput" id="stat" name="stat" data-prev="{{diceDefault}}" data-action-input="updateDice" value="{{diceDefault}}" min="0">
				</div>
				<div class="dialog-spark grimwild-form-group">
					<label for="spark">{{localize "GRIMWILD.Actor.Character.FIELDS.spark.label"}}</label>
					{{#if hasSpark}}
						{{#each sparkArray}}
							<input type="checkbox" class="spark sparkCheck" id="spark-{{this}}" name="spark[{{this}}]" data-action-change="updateDice" value="1">
						{{/each}}
					{{else}}
						<p>None</p>
					{{/if}}
					{{!-- <input type="number" class="rollDice rollDiceInput" id="spark" name="spark" data-prev="0" data-action-input="updateDice" value="0" min="0" max="{{spark}}"> --}}
				</div>
			</div>
			<div class="dialog-assists">
				<hr>
				<div id="assistContainer">
							<!-- Rows will be added here dynamically -->
						<datalist id="assistants-list">
							{{#each assistants as |assistant index|}}
							<option value="{{assistant}}"></option>
							{{/each}}
						</datalist>
				</div>
				<button type="button" id="addAssist" data-action="addAssist"><i class="fas fa-plus"></i>{{localize "GRIMWILD.Dice.assist"}}</button>
				<hr>
			</div>
			<div class="dialog-total grimwild-form-group">
				<label class="total">{{localize "GRIMWILD.Dice.total"}}</label>
				<span id="totalDice" class="total">0</span>
				<input type="hidden" id="totalDiceInput" name="totaDice">
			</div>
		</fieldset>

    <fieldset class="flexcol">
        <legend>Danger</legend>
        <div class="grimwild-form-group">
            <label for="dangerNumber">Danger dice</label>
            <input type="number" class="danger dangerInput" id="dangerNumber" name="danger" data-prev="0" data-action-input="updateDanger" value="0" min="0" max="20">
        </div>
        <div class="dialog-total grimwild-form-group">
            <label class="total">{{localize "GRIMWILD.Dice.total"}}</label>
            <span id="totalDanger" class="total">0</span>
            <input type="hidden" id="totalDangerInput" name="totalDanger">
        </div>
    </fieldset>
	</section>
</div>
